.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        height: 100vh;
        display: flex;
        max-width: 80rem;
        flex-direction: column;
        align-items: center;
        padding: var(--spacing64);

        h1,
        h2,
        h1 span {
            font-size: 7rem;
            color: var(--primary-red);
            font-family: var(--font-galada), sans-serif;
        }

        @keyframes floating {
            0% {
                transform: translateY(-20rem);
            }
            100% {
                transform: translateY(0);
            }
        }

        h1 {
            font-size: 7rem;

            span {
                transform: translateY(-20rem);
                display: inline-block;
                animation: floating 1s cubic-bezier(0.47, 1.64, 0.41, 0.8) forwards;
            }
        }

        h2 {
            font-size: 4rem;
        }
    }

    .intro {
        justify-content: space-between;
    }

    .about {
    }

    .target {
        h2 {
            color: var(--primary-blue);
        }
    }
}
