.scrollDown {
    border: 2px solid var(--white);
    width: 2rem;
    height: 3.8rem;
    border-radius: 1rem;
    position: relative;

    &:before {
        content: "";
        background: var(--white);
        width: var(--spacing10);
        height: var(--spacing10);
        position: absolute;
        border-radius: 50%;
        top: 0.5rem;
        left: 50%;
        transform: translate(-50%);
        animation: scroll 2s infinite;
        opacity: 0;
    }
}

@keyframes scroll {
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        top: calc(100% - 1rem);
        opacity: 0;
    }
}
